{% extends "shop/base.html" %}
{% load static %}

{% block title %}Ваша корзина{% endblock title %}

{% block content %}
<h1>Ваша корзина</h1>
<table class="cart">
  <thead>
  <tr>
    <th>Изображение</th>
    <th>Товар</th>
    <th>Количество</th>
    <th>Удалить</th>
    <th>Цена за единицу</th>
    <th>Цена</th>
  </tr>
  </thead>
  <tbody>
  {% for item in cart %}
  {% with product=item.product %}
  <tr>
    <td>
      <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}
          {% static 'img/no_image.png' %}{% endif %}">
      </a>
    </td>
    <td>{{ product.name }}</td>
    <td>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ item.update_quantity_form.quantity }}
        {{ item.update_quantity_form.update }}
        <input type="submit" value="Изменить">
        {% csrf_token %}
      </form>
    </td>
    <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
    <td class="num">{{ item.price }}</td>
    <td class="num">{{ item.total_price }}</td>
  </tr>
  {% endwith %}
  {% endfor %}
  {% if cart.coupon %}
  <tr class="subtotal">
    <td>Итого без скидки</td>
    <td colspan="4"></td>
    <td class="num">{{ cart.get_total_price|floatformat:"2" }}</td>
  </tr>
  <tr>
    <td>
      "{{ cart.coupon.code }}" купон
      ({{ cart.coupon.discount }}% скидка)
    </td>
    <td colspan="4"></td>
    <td class="num neg">
      - {{ cart.get_discount|floatformat:"2" }}
    </td>
  </tr>
  {% endif %}
  <tr class="total">
    <td>Итого</td>
    <td colspan="4"></td>
    <td class="num">
      {{ cart.get_total_price_after_discount|floatformat:"2" }}
    </td>
  </tr>
  </tbody>
</table>
<p>Применить купон:</p>
<form action="{% url 'coupons:apply' %}" method="post">
{{ coupon_apply_form }}
<input type="submit" value="Применить"> {% csrf_token %}
</form>
<p class="text-right">
  <a href="{% url 'shop:product_list' %}" class="button light">Продолжить
    покупки</a>
  <a href="{% url 'orders:order_create' %}" class="button">Оформить</a>
</p>
{% endblock content %}