{% load i18n %}

<html>
<body>
  <h1>{% translate 'My Shop' %}</h1>
  {% blocktranslate with order_id=order.id order_created=order.created|date:"M d, Y" %}
    <p>
      Invoice no. {{ order_id }}</br>
      <span class="secondary">
        {{ order_created }}
      </span>
    </p>
  {% endblocktranslate %}
  <h3>{% translate 'Bill to' %}</h3>
  {% blocktranslate with order_first_name=order.first_name order_last_name=order.last_name order_email=order.email order_address=order.address order_postal_code=order.postal_code order_city=order.city %}
    <p>
      {{ order_first_name }} {{ order_last_name }}<br>
      {{ order_email }}<br>
      {{ order_address }}<br>
      {{ order_postal_code }}, {{ order_city }}
    </p>
  {% endblocktranslate %}
  <h3>{% translate 'Items bought' %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% translate 'Product' %}</th>
        <th>{% translate 'Price' %}</th>
        <th>{% translate 'Quantity' %}</th>
        <th>{% translate 'Cost' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
          <td>{{ item.product.name }}</td>
          <td class="num">{{ item.price }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">{{ item.get_cost }}</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">{% translate 'Total' %}</td>
        <td class="num">{{ order.get_total_cost }}</td>
      </tr>
    </tbody>
  </table>

  <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
    {% if order.paid %}
      {% translate 'Paid' %}
    {% else %}
      {% translate 'Pending payment' %}
    {% endif %}
  </span>
</body>
</html>